<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="/images/weather.png" />
    <title>About</title>


</head>

<body>
    {{>header}}

    <main>
            <img class="myimg" src="/images/robot.jpg" alt="robot">
            <div>
                <p class="mytext">This app was created using express server, the main technologies used are Nodejs, html,
                    js, and css </p>

            </div>

    </main>
    <footer>


        {{>footer}}

    </footer>

</body>

</html>