<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <title>Weather </title>
</head>
<body>

                     {{>header}}


    <main>

     <h1  style="color:rgb(15, 15, 170)"><b>Weather</b> </h1>
     <p>Use this site to get your weather forecasts!</p>

     <form>
         <input type= "text" placeholder="location"/>
         <button>Search</button>
     </form>
            <h2 id="message-1"></h2>

     <div>
          <figure>
         <img width="100px"id ="icon"src="" />
         <figcaption id="caption"></figcaption>
          </figure>
        
         <p id="message-2"></p>
     </div>
    </main>
    <footer>

                {{>footer}}

    </footer>
    <script src="./js/index.js"></script>


</body>
</html>