<div class="custom">
  

    <a  class="weather" href="/"><img
        src="/images/weather.png"
        alt="weather logo"
        width="100px"
      />

    </a>
  

    <a href="/about">About</a>
    <a href="/contact">Contact </a>

</div>