<div class="custom">
  

    <a  class="weather" href="/"><img
        src="/images/weather.png"
        alt="weather logo"
        width="100px"
      />

    </a>
  

    <a href="/about"><h4>About</h4></a>
    <a href="/contact"><h4>Contact</h4> </a>

</div>